 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I made a website!</p>
                </div>
                <div class="col-lg-4">
                    <p>This website format I found is really pretty and great for a portfolio.</p>
                </div>
                <div class="col-lg-12 text-center">
                    <iframe id="open-web-calendar" 
                    style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
                    src="https://openwebcalendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2Fcase.edu_3eickbr4b3lnb0mg8qlq2efr9c%2540group.calendar.google.com%2Fpublic%2Fbasic.ics&amp;title=Event%20Calendar&amp;target=_blank"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    allowTransparency="true" scrolling="no" 
                    frameborder="0" height="900px" width="100%"></iframe>
                </div>
            </div>
        </div>
    </section>
